#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}
* {
  text-decoration: none;
}
.navbar {
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  padding-right: 15px;
  padding-left: 15px;
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-image {
  height: 70px;
  margin: 1px;
}
.logo a {
  font-size: 35px;
  font-weight: 600;
  color: white;
}
li {
  list-style: none;
  display: inline-block;
}
li a {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-right: 100px;
}
.title {
  font-weight: bold;
  font-size: 30px;
}
.start-button {
  background-color: white;
  border-radius: 15px;
  height: 40px;
  width: 100px;
  border: none;
  color: black;
  font-weight: bold;
}
